.contents
  / 左サイドの部分テンプレート呼び出し
  = render partial: "shared/side-bar"
  // チャット機能メイン
  .main-content
    // チャット機能メインのヘッダー
    .main-header
      .group-info
        .group-name
          = @group.name
        .members
          %ul.members
            Member：
            %li.members__list
              - @group.users.each do |user|
                = user.name
            / %li.members__list
            /   てすと次郎
      .edit-btn
        = link_to "Edit", edit_group_path(@group), class: "edit-btn-form"
    // メッセージ表示機能
    / 部分テンプレート呼び出し
    = render partial: "chat-space"
    // メッセージ送信機能
    = form_for [@group, @message] do |f|
      .input-space
        .post
          .post-area
            = f.text_field :body, class: "message-area", placeholder: "type a message"
            = f.label :image, class: "icon-style-image" do
              %i.fa.fa-picture-o
              = f.file_field :image, class: "display-none"
            = f.submit "send", class: "send-btn"
